.main-nav {
  .main-nav-logo {
    width: 200px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .menu-btn {
    display: none;
    cursor: pointer;
  }
  @media (width < 992px) {
    .menu-btn {
      display: block;
    }
    .main-menu {
      position: fixed;
      top: 10rem;
      left: 100%;
      gap: 0;
      flex-direction: column;
      width: 50%;
      text-align: center;
      transition: 0.8s;
    }
    .nav-item {
      margin: .7rem 0;
    }
    .main-menu.active {
     left: 50%;
     transform: translateY(30px);
     animation-delay: 500ms;
    }
    .contactInfoList {
      flex-direction: column;
      align-items: start;
    }
  }
}

/* Animations */