.main-nav {
  position: sticky;
  z-index: 1;
  .main-nav-logo {
    width: 200px;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .menu-btn {
    display: none;
    cursor: pointer;
  }
  @media (width < 992px) {
    .menu-btn {
      display: block;
    }
    .main-menu {
      position: fixed;
      top: 10rem;
      left: 100%;
      gap: 0;
      flex-direction: column;
      width: 50%;
      text-align: center;
      transition: 0.8s;
      background-color: var(--color-white);
      padding-block: 3rem;
      box-shadow: var(--box-shadow);
    }
    .nav-item {
      margin: 0.7rem 0;
    }
    .main-menu.active {
      left: 50%;
      transform: translateY(30px);
      animation-delay: 500ms;
    }
    .contactInfoList {
      flex-direction: column;
      align-items: start;
    }
  }
}

.sectionHeader {
  div {
    width: 25%;
    margin: 0 auto;
    border-bottom: 2px solid var(--color-primary-dark);
  }
}

/* Banner Start */
.bannerSection {
  box-shadow: var(--box-shadow);
  .container {
    @media (width < 922px) {
      display: flex;
      flex-direction: column;
    }
  }
  .bannerRight {
    flex-direction: column;
    h1,
    h2,
    h3,
    p {
      animation-duration: 3s;
      animation-name: move;
    }
    button {
      margin-top: 4rem;
      @media (width < 922px) {
        margin-top: 1rem;
      }
    }
  }
}
/* Banner End */
/* Scroll Text Start */
#scrollText {
  .container {
    .textDetails {
      text-transform: uppercase;
      font-weight: 500;
      gap: 6em;
    }
  }
}
/* Scroll Text End */
/* Our Services Start */
#ourServices {
  .services {
    .serviceCard {
      transform: scale(1);
      padding: 1rem;
      box-shadow: 0 5px 5px 5px #00000011;
      &:hover {
        transform: scale(1.1);
        transition: all .5s;
      }
      .cardImg {
        img {
          aspect-ratio: 1;
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }
}
/* Our Services End */

/* Our Us Section Start */
 #ourUs{
  .detailsLeft{
    border-left: 1px solid var(--color-primary-dark);
    .leftCard {
      justify-content: start !important;
      &:hover {
        transform: scale(1.1);
        transition: all .5s;
        cursor: pointer;
      }
      @media (width < 992px) {
        justify-content: start !important;
      }
      .cardIcon {
        width: 32px;
        height: 32px;
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 50%;
      }
    }
  }
 }
 /* Our Us Section END */

 /* Footer Links Start */
.footerDetails {
  @media (width < 992px) {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 75%;
  }
  .footerLinks,
  .footerContact {
    h3 {
      border-bottom: 1px solid var(--color-primary-dark);
    }
  }
}
/* Animations */

@keyframes move {
  0% {
    transform: translateY(-200%);
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

