li {
  list-style: none;
}

.line-height {
  line-height: 1.5rem;
}

.grid-1fr {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2fr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  @media (width < 992px) {
    grid-template-columns: 1fr;
  }
}

.grid-4fr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  @media (width < 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width < 540px) {
    grid-template-columns: 1fr;
  }
}

.grid-3fr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  @media (width < 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width < 540px) {
    grid-template-columns: 1fr;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex-direction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Positions */
.relative {
  position: relative;
}

/* Font sizes */
.fs-0 {
  font-size: 0.5rem;
}
.fs-08 {
  font-size: 0.8rem;
}
.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 1.5rem;
}

/* Paddings  */
.pd-0 {
  padding: 0.7rem;
}
.pd-1 {
  padding: 1rem;
}
.pd-2 {
  padding: 1.5rem;
}
.pd-3 {
  padding: 2rem;
}
.pd-4 {
  padding: 2.5rem;
}
.pd-5 {
  padding: 3rem;
}

.pr-0 {
  padding-right: 0.7rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 1.5rem;
}
.pr-3 {
  padding-right: 2rem;
}
.pr-4 {
  padding-right: 2.5rem;
}

.pl-0 {
  padding-left: 0.7rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 1.5rem;
}
.pl-3 {
  padding-left: 2rem;
}
.pl-4 {
  padding-left: 2.5rem;
}

.py-0 {
  padding-block: 0.5rem;
}
.py-1 {
  padding-block: 1rem;
}
.py-2 {
  padding-block: 1.5rem;
}
.py-3 {
  padding-block: 2rem;
}

.pb-0 {
  padding-bottom: 0.5rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 1.5rem;
}
.pb-3 {
  padding-bottom: 2rem;
}
.pb-4 {
  padding-bottom: 2.5rem;
}
.pb-5 {
  padding-bottom: 3rem;
}
.pb-6 {
  padding-bottom: 3.5rem;
}

/* Margins */
.mb-0 {
  margin-block: 0.5rem;
}
.mb-1 {
  margin-block: 1rem;
}
.mb-2 {
  margin-block: 1.5rem;
}
.mb-3 {
  margin-block: 2rem;
}
.mb-4 {
  margin-block: 2.5em;
}
.mb-5 {
  margin-block: 3rem;
}
.mb-6 {
  margin-block: 3.5rem;
}
.mb-7 {
  margin-block: 4rem;
}
.mb-8 {
  margin-block: 4.5rem;
}
.mb-9 {
  margin-block: 5rem;
}
.mb-10 {
  margin-block: 9rem;
}

/* Text Align */

.text-center {
  text-align: center;
  text-wrap: balance;
}
.text-start {
  text-align: start;
  text-wrap: balance;
}
.text-end {
  text-align: end;
  text-wrap: balance;
}

/* H etikketter */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
