li {
  list-style: none;
}

.py-1 {
  padding-block: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.fs-0 {
  font-size: .7rem;
}
.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 1.5rem;
}

.pr-0 {
  padding-right: .7rem;
}