:root {
  --color-default: #006cd8;
  --color-primary: #006edc;
  --color-primary-light: #3b9dff;
  --color-primary-dark: #0059b3;
  --color-secondary: #001f3f;
  --color-accent: #cddbe9;
  --color-white: #fff;
  --box-shadow: 0 2px #00000012;
}

.box-shadow-primary {
  box-shadow: var(--box-shadow);
}

.bg-default {
  background-color: var(--color-default);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-primary-light {
  background-color: var(--color-primary-light);
}
.bg-primary-dark {
  background-color: var(--color-primary-dark);
}
.bg-accent {
  background-color: var(--color-accent);
}
.bg-white {
  background-color: var(--color-white);
}

.default {
  color: var(--color-default);
}
.primary {
  color: var(--color-primary);
}
.secondary {
  color: var(--color-secondary);
}
.primary-light {
  color: var(--color-primary-light);
}
.primary-dark {
  color: var(--color-primary-dark);
}
.accent {
  color: var(--color-accent);
}