a {
  @include links;
  text-decoration: none;
  color: var(--color-secondary);
  &:hover, &:focus {
    text-decoration: underline;
    color: var(--color-primary);
    transition: all 0.4s ease-in-out;
  }
}

.socialMedia {
  ul {
    li {
      i {
        color: var(--color-secondary);
        &:hover, &:focus {
          color: var(--color-primary);
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
}